<div class="jumbotron">
  <div class="container">
    <input type="file" (change)="onChange($event.target.files)" />

    <div>
      <h3>File Content</h3>
      <!-- <pre>{{ temp }} </pre> -->
    </div>

    <button type="button" class="btn btn-primary" (click)="formate()">
      PreviewQuestions</button>&nbsp;
    <button type="button" class="btn btn-info" (click)="revalidate()">
      ReValidate</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="test1()">
      Test
    </button>
    <div *ngIf="eachQuestions" class="form-group">
      <label class="col-md-3 col-form-label">Choose Correct Option</label>
      <div *ngFor="let question of questionOptions; let i = index">
        <div *ngIf="question.options[0]">
          <p>{{question.question }}</p>
          <input type="radio" #optin1 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[0]" id="{{question.id}}">
          a){{question.options[0]}}
          <input type="radio" #optin2 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[1]" id="{{question.id}}">
          b){{question.options[1]}}
          <input type="radio" #optin3 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[2]" id="{{question.id}}">
          c){{question.options[2]}}
          <input type="radio" #optin4 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[3]" id="{{question.id}}">
          d){{question.options[3]}}
        </div>

        <!-- <div class="form-group" *ngFor="let eachOpt of tempArray; let j = index">
          {{i}} And {{j}}
          <input type="radio" name="question" [value]="eachOpt" [(ngModel)]="eachOpt">{{eachOpt}}
        </div> 
      <div class="form-group" *ngFor="let eachGender of genders" >
                <input type="radio" name="gender" ngModel [value]="eachGender"  [(ngModel)]="users.gender">{{eachGender}}
            </div>-->
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="validateAnswers()">Validate</button>
    <p *ngIf="showError" class="text text-danger">Please Upload questions</p>
  </div>

</div>