<div class="jumbotron">
  <div class="container">
    <input type="file" class="btn btn-primary" (change)="onChange($event.target.files)" />

    <div>
      <h3>File Content</h3>
      <!-- <pre>{{ temp }} </pre> -->
    </div>

    <button type="button" class="btn btn-primary" (click)="formate()">
      PreviewQuestions</button>&nbsp;
    <div *ngIf="eachQuestions" class="form-group">
      <div *ngFor="let question of questionOptions}">
        <div *ngIf=" question.options[0]">
          <p>{{question.question }}</p>
          <input type="radio" #optin1 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[0]" id="{{question.id}}">
          {{question.options[0]}}
          <input type="radio" #optin2 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[1]" id="{{question.id}}">
          {{question.options[1]}}
          <input type="radio" #optin3 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[2]" id="{{question.id}}">
          {{question.options[2]}}
          <input type="radio" #optin4 (change)="optionValue($event)" id="{{question.id}}" name="{{question.id}}"
            [value]="question.options[3]" id="{{question.id}}">
          {{question.options[3]}}
        </div>
      </div>
    </div>
    <p *ngIf="message" class="text text-success">{{message}}</p>
    <p *ngIf="showError" class="text text-danger">Please Upload questions</p>
  </div>

</div>