.bg-color {
  background-color: rgb(9, 9, 65);
  color: white;
}
.myform {
  margin: 0px 0px 0px 400px;
}
button {
  background: transparent;
}

.initialClass {
  margin: 0px 0px 0px 750px;
}


li {
  list-style: none;
}

.btn-signin span{
  display: block;
  padding: 8px 22px;
}
btn-register span{
  display: block;
  padding: 8px 22px;
}
