<div class="container" *ngIf="!this.isSubmitted" appRightClick>
    <marquee *ngIf="this.questionOptions.length === 0" direction="right"
        [ngStyle]="{'color':'red','text-align':'center'}">
        Question Paper not uploaded yet... <b>Please Contact HR</b></marquee>
    <p *ngIf="this.questionOptions.length === 0" direction="right" [ngStyle]="{'color':'red','text-align':'center'}">
        Question Paper not uploaded yet... <b>Please Contact HR</b></p>
    <div class="container" *ngIf="this.questionOptions.length > 0">
        <div class="row">

            <div class="col-md-6">
                <h4 [ngStyle]="{'color':'blue'}">Welcome to Mphasis</h4>
                <p class="text text-success">Answer all questions</p>

                <div *ngIf="eachQuestions" class="form-group">
                    <p class="text text-danger">Choose Correct Option</p>
                    <div *ngFor="let question of questionOptions| paginate:{itemsPerPage: 5, currentPage:paper}">
                        <div *ngIf="question.options[0]">
                            <h6>{{question.question }}</h6>
                            <input type="radio" #optin1 (change)="optionValue($event)" id="{{question.id}}"
                                name="{{question.id}}" [value]="question.options[0]" id="{{question.id}}">
                            {{question.options[0]}}<br/>
                            <input type="radio" #optin2 (change)="optionValue($event)" id="{{question.id}}"
                                name="{{question.id}}" [value]="question.options[1]" id="{{question.id}}">
                            {{question.options[1]}}<br/>
                            <input type="radio" #optin3 (change)="optionValue($event)" id="{{question.id}}"
                                name="{{question.id}}" [value]="question.options[2]" id="{{question.id}}">
                            {{question.options[2]}}<br/>
                            <input type="radio" #optin4 (change)="optionValue($event)" id="{{question.id}}"
                                name="{{question.id}}" [value]="question.options[3]" id="{{question.id}}">
                            {{question.options[3]}}<br/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" [disabled]="this.isSubmitted"
                    (click)="validateAnswers()">Validate</button>
                <div class="card-footer pb-0 pt-3">
                    <pagination-controls (pageChange)="paper=$event"></pagination-controls>
                </div>
            </div>
            <div class="col-md-6">
                <p class="timeClass" *ngIf="msg1">{{finalMsg}}</p>
                <p *ngIf="msg2 && !msg1" class="timeClass"><strong>{{finalMsg2}}</strong></p>

            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <p *ngIf="isSubmitted" class="text text-success">Thanks for Taking test.... Please wait out side</p>
    </div>
</div>
