<!--
<div>
  <div class="row-cols-4">
    <canvas baseChart #chart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
-->
<br/>
<br/>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
  <canvas id="canvas"></canvas>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <canvas id="canvas-pie"></canvas>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <canvas id="canvas-doughnut"></canvas>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <canvas id="canvas-polar"></canvas>
  </div>
</div>
