<div class="jumbotron">
  <br/>
  <h4 style="text-align: center;color: #E8E8E8;margin-top: -50px">Welcome to Mphasis</h4>
  <small style="text-align: center;color: #E8E8E8;margin: 0px 0px 0px 588px">Next Applied</small>
  <br/>

  <div class="row">
    <br/>
    <br/>
  </div>
  <div class="row">

    <br/>
    <div class="col-md-6">
      <img src="../../assets/images/illustration.jpg" width="100%" height="100%">
    </div>

    <div class="col-md-2">
    </div>
  <div class="col-md-4">

    <br/>
    <br/>
    <br/>
    <br/>

    <button type="button" class="gobtn" (click)="goto()"><span>Click Here To Go</span></button>
  </div>
  </div>
</div>
