<div class="container" *ngIf=" this.loginService.isCandidate && this.sharedService.finalResult">
    <h4 [ngStyle]="{'color':'blue'}">Thanks for taking the Test</h4>
    <p class="text text-success">Please wait for the result...</p>
    <p [ngStyle]="{'text-align':'center'}" class="text text-info">All the Best!!!</p>
</div>
<div class="container" *ngIf="this.sharedService.uploadSuccess && !this.sharedService.finalResult">
    <h4 [ngStyle]="{'color':'blue'}">Thanks for uploaing... </h4>
    <p class="text text-success">Please ask candidate to takeup the Test...</p>
</div>
<!--
<div class="container" *ngIf=" this.sharedService.noQuestionsFound ">
    <h4 [ngStyle]="{'color':'blue'}">Sorry for the inconvenience...</h4>
    <p class="text text-success">Please wait...</p>
    <p [ngStyle]="{'text-align':'center'}" class="text text-info">All the Best!!!</p>
</div>-->
