<div class="jumbotron">
  <br>
  <div class="row">
    <h6 style="color: blue"> SignUp With Below Details For Quick Login and Change them later if required</h6>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/illustration.jpg" width="100%" height="100%">
    </div>
    <div class="col-md-5">
      <form #registerForm="ngForm">
        <div class="form-group">
          <label for="firstname">Enter FirstName</label>
          <input type="text" class="form-control" #firstname="ngModel" #firstname1 name="firstname"
                 [(ngModel)]="register.firstname" required><span style="color: red">*</span>
          <small *ngIf="firstname.invalid && firstname.touched" class="text text-danger">First name required</small>
        </div>
        <div class="form-group">
          <label for="lastname">LastName</label>
          <input type="text" class="form-control" #lastname="ngModel" #lastname1 name="lastname"
                 [(ngModel)]="register.lastname" required>
<!--          <small *ngIf="lastname.invalid && lastname.touched" class="text text-danger">Last name required</small>-->
        </div>

        <div class="form-group">
          <label for="username">Create UserName</label>
          <input type="text" class="form-control" #username="ngModel" #username1 name="username"
                 [(ngModel)]="register.username" required><span style="color: red">*</span>

          <small *ngIf="username.invalid && username.touched" class="text text-danger">Username required</small>
        </div>
        <!-- {{registerForm.value|json}}
        {{register|json}} -->
        <!-- {{username1.className}} -->
        <div class="form-group">
          <label for="mail">Enter Mail</label>
          <input type="email" class="form-control" #mail="ngModel" #mail1 name="mail"
                 [(ngModel)]="register.email" required><span style="color: red">*</span>
          <small *ngIf="mail.invalid && mail.touched" class="text text-danger">Email required</small>
        </div>
        <!-- {{mail1.className}} -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="register.password"
                 #password="ngModel" required><span style="color: red">*</span>
          <small *ngIf="password.invalid && password.touched" class="text-danger">Password required</small>
        </div>
        <div class="form-group">
          <label for="confirmpassword">Confirm Password</label>
          <input type="password" class="form-control" name="confirmpassword" required
                 [(ngModel)]="register.confirmpassword" #confirmpassword="ngModel" (change)="validatePassword()"><span style="color: red">*</span>
          <small *ngIf="confirmpassword.invalid && confirmpassword.touched" class="text text-danger">Please Enter
            confirm password
          </small>
          <small *ngIf="showPassWordWarn" class="alert alert-danger">Password and Confirm Password should match
          </small>
        </div>
        <!-- Gender-->

        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio-inline form-group">
            <input type="radio" value="male" name="gender" [(ngModel)]="register.gender"> Male
            <input type="radio" value="female" name="gender" [(ngModel)]="register.gender"> Female
          </div>
        </div>
        <div class="form-group">
          <label for="Phone">PhoneNumber</label>
          <input type="text" class="form-control" #phone="ngModel" #phone1 name="phone"
                 [(ngModel)]="register.phone" required><span style="color: red">*</span>
          <small *ngIf="phone.invalid && phone.touched" class="text text-danger">Phone number required</small>
        </div>
        <div class="form-group">
          <label for="location">Preferred work location</label>
          <input type="text" class="form-control" #city="ngModel" #city1 name="city"
                 [(ngModel)]="register.city" required><span style="color: red">*</span>
          <small *ngIf="city.invalid && city.touched" class="text text-danger">Work Location required</small>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" (click)="signIn();registerForm.reset()"
                  [disabled]="registerForm.invalid">SignUp
          </button> &nbsp;
          <button class="btn btn-danger" (click)="cancel()">Cancel</button> &nbsp;
        </div>


        <div class="text-center text-primary" *ngIf="showSpinner">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="form-group">
          <div *ngIf="showSuccessMsg" class="alert alert-success">Registration Successful!!! Go to Login and
            Browse
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <small *ngIf="showError" [ngStyle]="{'color': 'red'}">{{errorMessage}}</small>
      <small *ngIf="showSuccess" [ngStyle]="{'color': 'green'}">{{showSuccessMsg}}</small>
    </div>
  </div>
</div>
